.carousel-wrapper {
  height: 100%;

  .left-arrow-icon, .image-list-wrapper,
  .right-arrow-icon {
    display: inline-block;
  }

  .image-list-wrapper {
    height: 100%;
    overflow: hidden;

    .carousel-image-container {
      height: 100%;
      position: relative;

      .carousel-image {
        width: 100%;
        height: 100%;
      }

      .carousel-title {
        position: absolute;

        left: 0;
        bottom: 30px;
        width: 100%;
        text-align: center;

        color: white;
        font-size: 128px;
      }
    }
  }
}
